<head>
  <meta charset="utf-8">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple_touch_icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_16x16.png">
  <link rel="mask-icon" href="/assets/safari_pinned_tab.svg" color="#2899c0">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#2899c0" />
  <link rel="manifest" href="/manifest.json" />


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
